body {
    background-color: palevioletred;
    padding: 5%;
    font-size: 18px;
    font-family: serif;
}
#main-section {
    background-color: white;
    border-radius: 20%;
    border: 5px solid rgb(204, 5, 121);
    width: 60%;
    padding: 5%;
    margin-left: 15%;
}

#funcionamento {
    font-size: 1em;
    font-weight: normal;
}

#criar-tarefa {
    background-color: rgb(88, 170, 236);
    color: white;
    border-radius: 20%;
    border: none;
    padding: 2%;
    width: 20%;
    font-weight: bold;
}
#apaga-tudo {
    background-color: red;
    color: white;
    border-radius: 20%;
    border: none;
    padding: 2%;
    width: 15%;
    font-weight: bold;
}
#remover-finalizados {
    background-color: green;
    color: white;
    border-radius: 20%;
    border: none;
    padding: 2%;
    width: 20%;
    font-weight: bold;
}
#remover-selecionado {
    background-color: green;
    color: white;
    border-radius: 20%;
    border: none;
    padding: 2%;
    width: 20%;
    font-weight: bold;
}